.logo { font-weight: 500 !important;}
.text-warning {  color: #ede861 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #4D3328 !important;}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #4D3328 !important;}
.bg-light { background-color: #F0E5E1 !important;}
.bg-black { background-color: #36241c !important;}
.bg-claro { background-color: #F9F5F3 !important;}
.btn-success {
  background-color: #4D3328 !important;
  border-color: #36241c !important;
}
.btn-success:active {
  background: #4D3328 !important;
  border-color: #36241c !important;
}
.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #4D3328;
  color: #fff;
}

.nav-brown {
    background-color: #815F51;
    
}

.text-bold {
    font-weight: bold;
}

.text-brown {
    color: #F0E5E1;
}

.text-titulos {
    color: #815F51;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    height: 500px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    position: absolute;
}

.img-carrousel {
    border-radius: 20px;
    
}

.gradient-light {
    background: rgb(249,245,243);
    background: linear-gradient(180deg, rgba(249,245,243,1) 0%, rgba(240,229,225,1) 60%, rgba(77,51,40,1) 100%);
}