<link rel="stylesheet" href="../../components/HeaderComponent/css/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<header class="fixed z-10 w-full shadow-xl bg-brown-100">
    <nav class="container flex items-center justify-between max-w-screen-xl py-4 mx-auto">
        <a href="index.html" class="flex items-center ml-6 space-x-3 cursor-pointer rtl:space-x-reverse">
            <img src="../../img/logoTatiaxcaNew.png" class="h-14" alt="Logo">
        </a>
        <div class="items-center hidden md:flex ">
            <a href="#"
                class="px-12 py-2 text-xl font-semibold transition duration-200 rounded-md group text-brown-50 hover:text-white">
                Inicio
                <span
                    class="rounded-lg block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-brown-50"></span>
            </a>
            <a href="../../src/admin-products.html"
                class="px-12 py-2 text-xl font-semibold transition duration-200 rounded-md group text-brown-50 hover:text-white">
                Productos
                <span
                    class="rounded-lg block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-brown-50"></span>
            </a>
            <a href="../../src/admin-users.html"
                class="px-12 py-2 text-xl font-semibold transition duration-200 rounded-md group text-brown-50 hover:text-white">
                Usuarios
                <span
                    class="rounded-lg block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-brown-50"></span>
            </a>
        </div>
        
        <div class="justify-end hidden mr-6 md:flex">
           
        </div>
    </nav>

</header>