<link rel="stylesheet" href="../../components/ProductoComponent/css/producto.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<script type="module" src="../../src/index.js"></script>

<div class="container mx-auto mt-8 bg-orange-100">

    <h1 class="text-3xl font-bold mb-6 text-center">Catálogo de Productos</h1>
    <div class="grid grid-cols-3 gap-8">
        <!-- Productos -->
        <product-info></product-info>
    </div>
</div>