<link rel="stylesheet" href="../../components/FeaturedComponent/css/featuredProduct.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<section class="bg-brown-400">
    <div class="container py-8 mx-auto">
        <h1 class="mb-6 text-4xl font-medium text-center font-helvetica md:mb-4 md:text-5xl mt-11 text-brown-100">Productos recomendados</h2>
        <p class="p-8 mb-2 text-xl text-center text-brown-300 md:text-2xl md:mb-4 md:ml-32 md:mr-32 font-roboto">¡Mira nuestros productos recomendados y únete a la familia de Café Tatiaxca!</p>
        
        <div class="flex flex-wrap justify-center px-12 md:mx-36">
            <div class="w-1/2 p-4 mb-8 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3">
                <div class="overflow-hidden duration-200 rounded-full shadow-md bg-brown-50 hover:scale-105">
                    <img src="../../img/recomendado-img-01.png" alt="Café en grano" class="w-full h-auto">
                </div>
                <p class="mt-2 text-xl font-medium text-center text-brown-300 font-roboto">Café en grano</p>
            </div>
            
            <div class="w-1/2 p-4 mb-8 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3">
                <div class="overflow-hidden duration-200 rounded-full shadow-md bg-brown-50 hover:scale-105">
                    <img src="../../img/recomendado-img-03.png" alt="Repostería" class="w-full h-auto">
                </div>
                <p class="mt-2 text-xl font-medium text-center text-brown-300 font-roboto">Repostería</p>
            </div>
            
            <div class="w-1/2 p-4 mb-8 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3">
                <div class="overflow-hidden duration-200 rounded-full shadow-md bg-brown-50 hover:scale-105">
                    <img src="../../img/recomendado-img-02.png" alt="Tazas para café" class="w-full h-auto">
                </div>
                <p class="mt-2 text-xl font-medium text-center text-brown-300 font-roboto">Tazas para café</p>
            </div>
        </div>
        
        <div class="mb-12 text-center">
            <a href="catalogo.html" class="px-8 py-3 text-lg transition duration-100 rounded text-brown-50 hover:text-white bg-brown-100 hover:bg-brown-300">Ver el catálogo</a>
        </div>
    </div>
</section>
