<link rel="stylesheet" href="../../components/RegisterComponent/css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<section class="relative flex items-center justify-center h-screen bg-brown-100">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
        style="background-image: url(../../img/carrousel_img_02.jpg);">
        <span id="blackOverlay" class="absolute w-full h-full bg-black opacity-50"></span>
    </div>

    <div class="container relative mx-auto">
        <div class="items-center">
            <div class="p-8">
                <div class="max-w-md p-8 mx-auto rounded-lg shadow-md bg-brown-25">
                    <form method="get" class="needs-validation">
                        <h1
                            class="mx-auto mb-4 text-2xl font-medium text-center md:text-3xl font-helvetica text-brown-300">
                            Registrarse</h1>

                        <div class="mb-4">
                            <input id="name" type="text" class="w-full p-2 border rounded text-brown-300"
                                placeholder="Nombre completo" autofocus="" value="" maxlength="50" required>
                        </div>

                        <div class="mb-4">
                            <input id="email" type="email" class="w-full p-2 border rounded text-brown-300"
                                placeholder="Correo electrónico" value="" maxlength="50" required>
                        </div>

                        <div class="mb-4">
                            <input id="calle" type="text" class="w-full p-2 border rounded text-brown-300"
                                placeholder="Calle" value="" maxlength="100" required>
                        </div>

                        <div class="mb-4">
                            <input id="numero-casa" type="number" class="w-full p-2 border rounded text-brown-300"
                                placeholder="Número de casa" value="" maxlength="100" required>
                        </div>

                        <div class="mb-4">
                            <input id="colonia" type="text" class="w-full p-2 border rounded text-brown-300"
                                placeholder="Colonia" value="" maxlength="100" required>
                        </div>

                        <div class="mb-4">
                            <input id="telefono" type="tel" class="w-full p-2 border rounded text-brown-300"
                                placeholder="Número telefónico" value="" maxlength="15" required>
                        </div>

                        <div class="relative mb-4">
                            <input id="password" type="password" class="w-full p-2 border rounded text-brown-300" placeholder="Contraseña"
                                value="" minlength="8" maxlength="50" required>
                            <span id="togglePassword" class="absolute transform -translate-y-1/2 cursor-pointer top-1/2 right-4">
                                <i class="text-brown-300 fa fa-eye-slash"></i>
                            </span>
                        </div>

                        <div class="relative mb-4">
                            <input id="confirm-password" type="password" class="w-full p-2 border rounded text-brown-300" placeholder="Confirmar contraseña"
                                value="" minlength="8" maxlength="50" required>
                            <span id="toggleConfirmPassword" class="absolute transform -translate-y-1/2 cursor-pointer top-1/2 right-4">
                                <i class="text-brown-300 fa fa-eye-slash"></i>
                            </span>
                        </div>

                        <div class="mb-4">
                            <button type="submit"
                                class="w-full p-2 text-center transition duration-150 rounded shadow-md bg-brown-200 text-brown-50 hover:text-white hover:bg-brown-300"
                                id="verify-user"><i class="mr-1 fa fa-fw fa-sign-in"></i> Registrarse</button>
                        </div>


                        <hr class="mb-4">
                        <p class="mb-4 font-roboto text-brown-300">¿Ya tienes una cuenta?</p>


                        <a href="login.html">
                        <div
                            class="w-full p-2 text-center transition duration-150 rounded shadow-md bg-brown-200 text-brown-50 hover:text-white hover:bg-brown-300">
                            <span><i class="mr-1 fa fa-fw fa-sign-in-alt"></i>
                                Inicia sesión</span>
                        </div></a>    
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>