<link rel="stylesheet" href="../../components/BannerComponent/css/banner.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<!-- This section contains the hero image and text. -->

<section class="relative flex items-center justify-center h-screen bg-brown-100">
    <!-- Background image -->
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
        style="background-image: url(../../img/carrousel_img_02.jpg);">
        <div class="absolute top-0 w-full h-full bg-center bg-cover"
            style="background-image: url(../../img/carrousel_img_02.jpg);">
            <span id="blackOverlay" class="absolute w-full h-full bg-black opacity-50"></span>
        </div>
    </div>
    <!-- End background image -->
    <div class="container relative mx-auto">
        <div class="flex flex-wrap items-center">
            <!--
                This div is used to center the text
                and to add padding to the top and bottom
                of the section.
            -->
            <div class="w-full px-4 ml-auto mr-auto text-center font-helvetica">
                <div class="p-4 mt-24 md:p-12">
                    <h1 class="text-5xl font-bold md:text-8xl text-brown-50">
                        Café Tatiaxca
                    </h1>
                    <p class="mt-5 text-2xl md:text-3xl md:mt-7 text-brown-50">
                        ¡Descubre nuestro café artesanal orgánico de la más alta calidad!
                    </p>
                    <div class="flex flex-wrap justify-center mt-10 text-center font-roboto"> <!-- Added text-center class -->
                        <a href="#about-us" class="px-2 md:px-0">
                            <button class="px-4 py-4 mt-2 mb-2 text-2xl transition-all rounded scroll-smooth md:mr-4 bg-brown-100 text-brown-50 hover:bg-brown-300 hover:text-white hover:drop-shadow-lg">Conoce más</button>
                        </a>
                        <a href="../../src/contact.html" class="px-2 md:px-0">
                            <button class="px-4 py-4 mt-2 mb-2 text-2xl transition-all rounded scroll-smooth md:mr-4 bg-brown-100 text-brown-50 hover:bg-brown-300 hover:text-white hover:drop-shadow-lg">Contáctanos</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>