<div id="logreg-forms" class="bg-white p-8 rounded-lg shadow-md max-w-md mx-auto">
    <form action="" method="POST" class="needs-validation" novalidate>
        <h1 class="text-2xl mb-4 font-bold text-center" style="text-align: center"> Inicia sesión</h1>
        
        <div class="mb-4">
            <input id="name" class="w-full p-2 border rounded" placeholder="Nombre completo"
                autofocus="" value="" maxlength="50">
        </div>
        
        <div class="mb-4">
            <input id="password" class="w-full p-2 border rounded" placeholder="Contraseña" value="" maxlength="20">
        </div>
        
        <div class="mb-4 bg-brown-500">
            <button type="submit" class="w-full p-2 bg-brown-500 text-brown rounded text-center" id="verify-user"><i class="fas fa-sign-in-alt"></i> Entrar</button>
        </div>

        <hr class="mb-4">
        <p class="mb-4">¿No estás registrado?</p>

        <div class="bg-brown-500 mb-4">
            <a href="" class="w-full p-2 bg-brown-500 text-brown rounded text-center"><i class="fas fa-user-plus"></i>
                Registrate gratis</a>
        </div>
        
        <hr class="mb-4">
        <p class="mb-4">¿Eres administrador?</p>

        <div class="mb-4 bg-brown-500">
            <a href="" class="w-full p-2 bg-brown-500 text-brown rounded text-center"><i class="fas fa-sign-in-alt"></i>
                Inicia sesión</a>
        </div>
    </form>
    <br>
</div>