<link rel="stylesheet" href="../../components/ProductoComponent/css/producto.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

<div id="product" class="bg-brown-50 p-4 rounded-md shadow-md">
    <template id="tmpProduct">
        <div class="flex flex-col items-center">
            <img id="imagen" src="../../img/producto-01.png" alt="Producto"
                class="w-auto h-40 border object-cover mb-4 rounded-md">
        </div>
        <h2 id="nombre" class="text-lg text-center font-semibold mb-2">Producto</h2>
        <p id="precio" class="text-red-700 text-center font-bold">Precio: $19.99</p>
        <div class="flex flex-col items-center bg-brown-200">
            <div class="bg-brown-500 rounded-md p-2 mb-2">
                <button class="bg-brown-200 text-brown-300 font-bold px-4 py-2 border rounded-md mr-2">Ver
                    Detalles</button>
                <button class="bg-brown-200 text-brown-300 font-bold px-4 py-2 border rounded-md">Agregar</button>
            </div>
        </div>
    </template>
</div>