<link rel="stylesheet" href="../../components/FooterComponent/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<footer class="font-medium shadow-xl bg-brown-300 font-roboto">
    <nav class="container flex flex-col items-center justify-between max-w-screen-xl p-10 mx-auto md:flex-row">
        <div class="flex flex-col justify-between mb-8 md:mb-0 md:w-fit">
            <h2 class="pb-3 text-xl font-bold border-collapse text-brown-50 border-slate-50 font-helvetica">Café
                Tatiaxca</h2>
            <ul class="text-brown-50 list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    <a class="text-decoration-none" href="">Av. Jesús García #100, Centro, Urb. No. 2, 85000 Cd Obregón,
                        Son</a>
                </li>
                <li>
                    <i class="fa fa-phone fa-fw"></i>
                    <a class="text-decoration-none" href="tel:644-246-3770">+52 644 246 3770</a>
                </li>
                <li>
                    <i class="fa fa-envelope fa-fw"></i>
                    <a class="text-decoration-none" href="mailto:info@company.com">contacto@tatiaxca.com</a>
                </li>
            </ul>
        </div>

        <div class="pt-0 mb-0 md:pt-4 md:mb-4 text-brown md:w-1/3">
            <ul class="flex flex-row justify-end text-right">
                <li class="mr-4">
                    <a class="text-brown-50" target="_blank" href="https://www.instagram.com/cafetatiaxcaobregon/">
                        <i class="px-1 py-1 pr-5 border rounded-lg fab fa-instagram fa-md fa-fw border-light"></i>

                    </a>
                </li>
                <li class="">
                    <a class="text-brown-50" target="_blank"
                        href="https://www.facebook.com/profile.php?id=100063821310876">
                        <i class="px-2 py-1 pr-4 border rounded-lg fab fa-facebook-f fa-md fa-fw border-light"></i>
                    </a>
                </li>
            </ul>
            <div class="w-full my-3 border-t border-light"></div>
            <p class="text-right text-brown-50">
                &copy; 2023 Roman, De la Rosa, Flores - ITSON ISW
            </p>
        </div>
    </nav>
</footer>