<link rel="stylesheet" href="../FooterComponent/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<footer class="bg-black" id="templatemo_footer">
    <nav class="container flex items-center justify-between max-w-screen-xl py-4 mx-auto">
        <div class="container d-flex justify-between align-top">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-white border-collapse pb-3 border-slate-50">Café Tatiaxca</h2>
                    <ul class="list-unstyled text-white table-footer-group">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            <a class="text-decoration-none" href="">Av. Jesús García #100, Centro, Urb. No. 2, 85000 Cd Obregón, Son</a>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:644-246-3770">+52 644 246 3770</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>
                <div class="w-100 bg-black py-3">
                    <div class="container">
                        <div class="row pt-2">
                            <div class="col-12">
                                <p class="text-left text-white">
                                    Copyright &copy; 2022 Roman, Bocardo, Angulo, Flores | ITSON ISW
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-brown mb-4">
            <div class="col-auto me-auto">
                <ul class="list-inline text-right footer-icons">
                    <li class="list-inline-item">
                        <a class="text-white text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=100063821310876">
                            <i class="fab fa-facebook-f fa-lg fa-fw rounded-full border border-light p-2"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-white text-decoration-none" target="_blank" href="https://www.instagram.com/cafetatiaxcaobregon/">
                            <i class="fab fa-instagram fa-lg fa-fw rounded-full border border-light p-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-right text-white">
                        Copyright &copy; 2022 Roman, Bocardo, Angulo, Flores | ITSON ISW
                    </p>
                </div>
            </div>
        </div>
    </nav>
</footer>